.SideNavBar {
	background-color: #12416F;
	color: white;
	position: absolute;
	width: 250px;
	left: 0px;
	top: 0px;
	font-size: 1rem;
	z-index: 100;
}

.SideNavBarDescription {
	font-size: 0.8rem;
	padding-left: 1rem;
}

.buttonsContainer {
	width: 235px;
	margin: auto;
	margin-bottom: 50px;
}

hr {
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.6);
}